/* colors */
/* #305730 - Dark Green */
/* colors */

/* body */
body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refHome/Felix\ Mittermeier\ chessHTML\ bodyBackground2.jpg);
    background-position: center;
}
/* body */

/* header */
header {
    display: block;
    width: 100%;
    height: auto;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 1rem;
    text-shadow: #fff 1px 0 10px;
}

header h1 {
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
}
/* header */

/* contentCont */
.contentCont {
    display: flex;
    justify-content: space-between;
}

.contentCont li {
    list-style: none;
}

.contentCont a {
    text-decoration: none;
}

/* navbar */
nav {
    width: 30%;
    height: auto;
    border: 2px solid red;
}

.navLinks a {
    font-size: 1.2rem;
    color: #000;
}
/* navbar */

/* articleCont */
.articleCont {
    width: 60%;
    border: 2px solid red;
}
/* articleCont */
/* contentCont */