/* colors */
/* #305730 - Dark Green */
/* colors */

/* body */
body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refChess/Felix\ Mittermeier\ chessHTML\ bodyBackground2.jpg);
    background-position: center;
}
/* body */

/* header */
header {
    display: block;
    width: 100%;
    height: auto;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 1rem;
    text-shadow: #fff 1px 0 10px;
}

header h1 {
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
}
/* header */

/* article */
.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    font-family: sans-serif;
    letter-spacing: 0.5rem;
    margin: 2% 0% 2% 5%;
    background-color: #a0a0a033;
}

.article h3 {
    color: #fff;
    font-size: 1.5rem;
}

.article p {
    color: #fff;
    letter-spacing: 0.2rem;
    text-align: left;
    margin: 2% 2%;
}

.article h4 {
    color: #fff;
    letter-spacing: 0.2rem;
    text-align: left;
    margin: 2% 2% 0% 2%;
}

.article li {
    color: #fff;
    text-align: left;
    margin: 2% 0%;
}

.article a {
    color: #fff;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}
/* intro */
.introCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: #1e1e1ed0;
}

.introCont img {
    width: 80%;
    margin: 2% 0% 2% 10%;
}
/* intro */
/* article */