/* body */
body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refChess/Hassan\ Pasha\ referencesHTML\,\ bodyBackground\ Unsplash.jpg);
    background-position: center;
}
/* body */

/* header */
header {
    display: block;
    width: 100%;
    height: auto;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 1rem;
    text-shadow: #fff 1px 0 10px;
    scroll-margin-top: 30px;
}

header h1 {
    font-size: 8rem;
    font-weight: bold;
    margin: 2% 0% 0% 0%;
}
/* header */

/* navbar */
nav {
    letter-spacing: 0;
}

nav li {
    list-style: none;
}
nav a {
    color: #000;
    text-decoration: none;
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #c7c7c7e0;
}

.navTitle {
    padding: 5%;
}

.navTitle:hover {
    color: #fff;
    text-decoration: underline;
}
/* navbar */

/* references */
.refCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    letter-spacing: 0.5rem;
    margin: 1% 0% 0% 0%;
    color: #fff;
    background-color: #a0a0a033;
}

.refCont h3 {
    font-family: sans-serif;
    /* text-decoration: underline; */
}

.refCont h4 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 0.2rem;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
/* chess.html bodyBackground */
.chessBodyBackgroundCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.chessBodyBackgroundImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* chess.html bodyBackground */

/* references.html bodyBackground */
.referencesBodyBackgroundCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.referencesBodyBackgroundImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* references.html bodyBackground */

/* intro */
.introCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.introImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* intro */

/* chaturanga */
.chaturangaCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.chaturangaImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* chaturanga */

/* jaques staunton */
.jaquesStauntonCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.jaquesStauntonImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* jaques staunton */

/* paul morphy */
.paulMorphyCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.paulMorphyImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* paul morphy */

/* wilhelm steinitz */
.wilhelmSteinitzCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.wilhelmSteinitzImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* wilhelm steinitz */

/* emanuel lasker */
.emanuelLaskerCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.emanuelLaskerImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* emanuel lasker */

/* jose raul capblanca */
.joseRaulCapblancaCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.joseRaulCapblancaImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* jose raul capblanca */

/* alexander alekhine */
.alexanderAlekhineCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.alexanderAlekhineImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* alexander alekhine */

/* mikhail botvinnik */
.mikhailBotvinnikCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.mikhailBotvinnikImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* mikhail botvinnik */

/* bobby fischer */
.bobbyFischerCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.bobbyFischerImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* bobby fischer */

/* anatoly karpov */
.anatolyKarpovCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.anatolyKarpovImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* anatoly karpov */

/* garry kasparov */
.garryKasparovCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033;
}

.garryKasparovImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* garry kasparov */

/* magnus carlsen */
.magnusCarlsenCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;
    border-bottom: 2px solid #a0a0a033
}

.magnusCarlsenImg img {
    border: 2px solid #fff;
    width: 40%;
}
/* magnus carlsen */
/* references */

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    background-color: #c7c7c7e0;
}

footer h3 {
    text-shadow: #fff 1px 0 10px;
}

footer a {
    color: #000;
    text-shadow: #fff 1px 0 10px;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-shadow: #000 1px 0 10px;
    text-decoration: underline;
}

.footerContLeft {
    margin: 0% 0% 0% 1%;
    padding: 0.5% 1%;
}

.footerContRight {
    margin: 0% 1% 0% 0%;
    padding: 0.5% 1%;
}
/* footer */